@import './Base.scss';

.hero-container {
    height: 100vh;

    @media (min-width: 1200px) {
        background-image: url(../images/laptop.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 19vw;
    }

    //background-size: 30rem;

    //display: grid;
}

.navigation {
    font-family: 'Fondamento', cursive;
    font-size: calc(10px + (16 - 10) * ((100vw - 762px) / (1900 - 762)));
    //font-size: 1.6rem;
    //font-size: 1vw; //1.2

    &__itemsList {
        height: 8.5rem;
        display: flex;
        flex-direction: row;
        place-items: center;
        justify-content: space-between;
    }

    &__item {
        backface-visibility: hidden; // w celu naprawy buga gdy linia sie chowa w Narzędzia i Kontakt, bo w tych przypadkach zostaje mała linia, nie chowa sie do konca

        &:after {
            content: '';
            display: block;
            width: 0;
            height: .2rem;
            background-color: $orange;
            transition: width .6s;
        }

        &:hover {
            cursor: pointer;

            &:after {
                width: 100%;
            }

            &:first-letter {
                color: $orange;
            }

            /*rozwiązanie problemu niedziałającego first-letter na spanie 
            https://stackoverflow.com/questions/7631722/css-first-letter-not-working */
            span::first-letter {
                color: $orange;
            }

            span {
                display: inline-block;
            }
        }

        &--middle {
            display: inline-block;
            margin: 0 2rem;
        }
    }

    &__timeItem {
        cursor: default;
    }
}

.scroll-navigation {
    //float: right;
    position: fixed;
    right: 13.9rem;
    top: 50%;
    //transform: translate(-9%, -50%);
    transform: translateY(-50%);

    &__item {
        /* width: calc(20px + (30 - 20) * ((100vw - 762px) / (1900 - 762)));
        height: calc(20px + (30 - 20) * ((100vw - 762px) / (1900 - 762))); */
        width: 3rem;
        height: 3rem;
        border: .1rem solid white;
        border-radius: 100rem;
        margin: 2rem 0;
        cursor: pointer;
        transition: all .5s;
        //transform: translateZ(0) scale(1.0, 1.0);
        display: block;
        font-size: 0;

        &--active {
            background-color: $orange;
        }

        &:before {
            font-family: 'Fondamento', cursive;
            position: relative;
            top: 25%;
            right: 0%;
            visibility: hidden;
            font-size: 0rem;
            transition: all linear .3s;
            //transform: translateZ(0) scale(1.0, 1.0);
        }

        &:hover {
            background-color: $orange;

            &:before {
                top: 25%;
                //right: 250%;
                visibility: visible;
                font-size: 1rem;
            }
        }

        &--mainSite {
            &:before {
                content: 'Strona główna';
                white-space: nowrap;
            }

            &:hover {
                &:before {
                    right: 250%;
                }
            }
        }

        &--projects {
            &:before {
                content: 'Projekty';
            }

            &:hover {
                &:before {
                    right: 170%;
                }
            }
        }

        &--tools {
            &:before {
                content: 'Narzędzia';
            }

            &:hover {
                &:before {
                    right: 190%;
                }
            }
        }

        &--aboutMe {
            &:before {
                content: 'O mnie';
                white-space: nowrap;
            }

            &:hover {
                &:before {
                    right: 150%;
                }
            }
        }

        &--contact {
            &:before {
                content: 'Kontakt';
                white-space: nowrap;
            }

            &:hover {
                &:before {
                    right: 170%;
                }
            }
        }
    }
}

.hero-info {
    //font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    //width: 33rem;
    //width: calc(190px + (330 - 190) * ((100vw - 762px) / (1900 - 762)));
    //width: 19rem;
    width: calc(230px + (330 - 230) * ((100vw - 762px) / (1900 - 762)));
    font-family: 'Fondamento', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translateY(-50%);
    transform: translate(-50%, -50%);

    @media (min-width: 1200px) {
        position: static;
        transform: translateY(50%);
    }

    &__heading {
        //font-size: 4.2rem;
        font-size: calc(18px + (44 - 18) * ((100vw - 762px) / (1900 - 762)));
        //font-size: 1vw;
        //font-size: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));
        //font-size: calc(18px + (42 - 18) * ((100vw - 300px) / (1920 - 300)));
        //line-height: 1.3;
        line-height: 50px;

    }

    &__button {
        font-size: calc(14px + (20 - 14) * ((100vw - 762px) / (1900 - 762)));
    }
}

.button {
    cursor: pointer;
    margin-top: 3rem;
    //font-size: 2rem;
    width: 100%;
    height: 4.2rem;
    border-radius: 100rem;
    border: 0;
    background-color: $orange;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;

    &:active {
        box-shadow: inset 0px 0px 5px darken($orange, 50%);
        background: darken($orange, 5%);
    }
}

//50  w468, h425
//20 w419 h83

//font-family: 'Goblin One', cursive;
//font-family: 'Oswald', sans-serif;
//font-family: 'Nunito', sans-serif;
//font-family: 'Josefin Sans', sans-serif;